.App {
  text-align: center;
}

.Arrow,
.Prime,
.Mask,
.Target {
  font-size: 2em;
  margin: 20px;
}

.Prime {
  position: absolute;
}

.Prime.East {
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.Prime.West {
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.Prime.South {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Prime.North {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Mask {
  font-size: 2em;
  margin: 20px;
}

.Target {
  font-size: 2em;
  margin: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1em;
}
